.bgtop {
  background-image: url("../assets/bg_tech_top.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bgmiddle {
  background-image: url("../assets/bg_tech_middle.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bgbottom {
  background-image: url("../assets/bg_tech_bottom.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.name::first-letter {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: black;
  text-decoration-style: solid;
  text-underline-offset: 3px;
}

.name {
  text-decoration: none;
  transition: all 0.5s ease-in;
}

.name:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: black;
  text-decoration-style: solid;
  text-underline-offset: 3px;
}
