/* fonts: Rubik 300 400 500 700, Playfair Display 400 700, Work Sans 100 500, Lato 400 700 */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;700&family=Rubik:wght@300;400;500;700&family=Work+Sans:wght@100;500&display=swap");
* {
  color: black;
}

body {
  min-width: 930px;
}

a {
  text-decoration: none;
}
