/* fonts: Rubik 300 400 500 700 800, Playfair Display 400 700, Work Sans 100 500, Lato 400 700, Inter 400, JetBrains Mono 400 700, Baskervville 400 */

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@400;700&family=Playfair+Display:wght@400;700&family=Rubik:wght@300;400;500;700;800&family=Work+Sans:wght@100;500&family=JetBrains+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  color: black;
}

a {
  text-decoration: none;
}

/* Hide Scrollbars */

* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

/* Mobile Navbar  */
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  color: #fff;
  height: fit-content;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #1c1b1f;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu-button-container {
  display: flex;
}
.menu {
  position: absolute;
  top: 0;
  margin-top: 90px;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#menu-toggle ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .menu li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 3.5em;
  padding: 1em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .menu li:last-child {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.menu > li {
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 18px;
  padding: 0.5em 0;
  width: 100%;
  color: #000000;
  font-weight: 500;
  font-family: "Rubik";
  z-index: 1;
  text-transform: uppercase;
  background-color: #ffffff;
  letter-spacing: 0.08929em;
}
.menu > li:not(:last-child) {
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}
