.name {
  position: relative;
}

.name::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -104%;
  left: 0px;
  background-image: url("../assets/overview_bg/bg_pattern.svg");
  background-repeat: repeat;
  background-attachment: fixed;
  opacity: 0.2;
}
